.pathway-detail {
    @include only(x) {
        .tabs-ws {
            padding-top: 30px;
        }
        .tab-ws {
            .tb-padding {
                padding: 0;
            }

            .container {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.step-list {
    border-left: 1px solid #ccc;
    margin-left: 8px;
    padding-top: 15px;
    padding-bottom: 1px;
    counter-reset: step;

    .step-item {
        position: relative;
        padding-left: 30px;
        margin-bottom: 30px;
        @include fluid-type(12px, 14px);

        &:before {
            content: "";
            background: $color-quaternary-1;
            width: 17px;
            height: 17px;
            border-radius: 17px;
            position: absolute;
            top: 0px;
            left: 0px;
            transform: translateX(-50%);

        }

        @include only(smlz) {
            padding-left: 60px;
            margin-bottom: 70px;
        }
    }

    .step-counter {
        color: $color-quaternary-1;
        font-family: $fontBold;
        margin-bottom: 5px;
        @include fluid-type(14px, 16px);

        &:before {
            counter-increment: step;
            content: "Step " counter(step);
        }
    }

    @include only(smlz) {
        margin-left: 70px;
        padding-top: 70px;
    }
}