.section-header {
    background: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch;

    .layout-header {
        @include only(mlz) {
            transition: padding 0.3s ease-out;
            padding-left: 60px;
        }
    }
    
    > * {
        width: 100%;
    }

    &.section-header-sticky {
        html:not(.sfPageEditorWrp) & {
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 10;
            width: 100%;
            transition: 0.2s height ease-out, 0.2s padding ease-out;
            box-shadow: $box-shadow;
        }
    }
}

.section-body {
    // if you have a sticky header and content create space for the header so it doesn't overlap
    .section-header-sticky + & {
        transition: 0.2s padding-top ease-out;
        
        @include only($nav-available) {
            padding-top: $nav-height-available-unscrolled;
        }

        @include only(x) {
            padding-top: calc(#{$nav-height-available-unscrolled} * 0.75);
        }

        @include only($nav-unavailable) {
            padding-top: $nav-height-unavailable-unscrolled;
        }
    }

    .section-header-sticky.section-header-sticky-active + & {
        // @include only($nav-available) {
        //     padding-top: $nav-height-available-scrolled;
        // }

        // @include only($nav-unavailable) {
        //     padding-top: $nav-height-unavailable-scrolled;
        // }
    }
}

.layout-header {
    > .row {
        align-items: center;
        justify-content: space-between;
        margin-left: -20px;
        margin-right: -20px;

        @include only(smlz) {
            margin-left: -30px;
            margin-right: -30px;
        }
    }

    .header-left, 
    .header-right { 
        transition: 0.2s ease-out all;

        @include only($nav-available) {
            padding-left: 25px;
            // padding-right: 25px;
        }
    }

    .header-left {
        flex: 0 0 $logoWidth-nav-available;
        max-width: $logoWidth-nav-available;
        padding-left: 15px;
        padding-right: 15px;

        @include only($nav-unavailable) {
            flex: 0 0 $logoWidth-nav-unavailable;
            max-width: $logoWidth-nav-unavailable;
        }
    }

    .header-right {
        flex: 0 0 calc(100% - #{$logoWidth-nav-available});
        max-width: calc(100% - #{$logoWidth-nav-available});
        width: 100%;
        display: flex;

        @include only($nav-available) {
            flex-direction: row-reverse;
        }

        @include only($nav-unavailable) {
            flex: 0 0 calc(100% - #{$logoWidth-nav-unavailable});
            max-width: calc(100% - #{$logoWidth-nav-unavailable});
            justify-content: flex-end;
        }
    }

    .section-header-sticky-active & {
        .header-left {
            flex: 0 0 #{$logoWidth-nav-available};
            max-width: #{$logoWidth-nav-available};
    
            @include only($nav-unavailable) {
                flex: 0 0 #{$logoWidth-nav-unavailable};
                max-width: #{$logoWidth-nav-unavailable};
            }
        }
    
        .header-right {
            flex: 0 0 calc(100% - #{$logoWidth-nav-available});
            max-width: calc(100% - #{$logoWidth-nav-available});
    
            @include only($nav-unavailable) {
                flex: 0 0 calc(100% - #{$logoWidth-nav-unavailable});
                max-width: calc(100% - #{$logoWidth-nav-unavailable});
            }
        }
    }
}

.layout-footer {
    padding-right: 60px;
    padding-left: 60px;

    @media (max-width: $medium - 1px) {
        display: flex;
    }

    > .row {
        margin-right: -60px;
        margin-left: -60px;

        .footer-left {
            padding: 50px 60px;
            background: #F7F4F1;

            @media (max-width: $medium - 1px) {
                padding: 40px 20px;
                order: 2;
            }

            @media (min-width: $medium) and (max-width: $xtra-large - 1px) {
                padding: $tb-gutter-xs;
            }

            img {
                margin-bottom: 40px;
                max-width: 100%;
            }
    
            p {
                font-size: 11px;
                line-height: $default-line-height;
            }
        }

        .footer-right {
            
            h4 {
                @media (min-width: $medium) {
                        padding-right: 50px;
                    }

                    @media (max-width: 1500px) {
                        font-size: 25px;
                        padding-right: 30px;
                    }
                }

            // @media (max-width: $xtra-large) {
            //     padding: $tb-gutter-md;
            // }
        }
    }

    .bg-primary-1 {
        padding: 60px 95px;

        @media (max-width: $medium - 1px) {
            padding: 40px 20px;
        }

        @media (min-width: $medium) and (max-width: $xtra-large - 1px){
            padding: 50px 60px;
        }
    }
}