// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
* {
  box-sizing: border-box;
}

.link-header-logo {
  display: block;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  &:hover, 
  &:focus {
    opacity: 0.8;
  }
}