
@include only($nav-available) {
    .nav {
        display: block;
        margin: 15px 0;
    }

    .menu {
        li { 
            position: relative;

            > a {
                color: #fff;
                font-family: $fontBold;
            }
        }

        .level-2, 
        .level-3 { 
            display: none;
        }

        .level-2 {
            a {
                font-size: 14px;
                padding-left: calc(#{$nav-item-padding} * 2);
            }
        }
        
        .level-3 {  
            a {
                font-size: 12px;
                padding-left: calc(#{$nav-item-padding} * 3);
            }
        }

        a {
            display: block;
            padding: 5px $nav-item-padding;
            font-size: 16px;

            > .fa {
                display: none;
            }
        }

        .nav-toggle-subLevel {
            position: absolute;
            top: 0px; 
            right: 0px;
            background: none;
            border: none;
            color: $color-primary-1;
            padding: 5px 11px;
            background: $color-tertiary-1;
        }

        .has-children a {
            padding-right: 50px;
        }

        .has-children-open {
            > .nav-toggle-subLevel {
                > .fa:before {
                    content: '\f068';
                }
            }
            .level-2, 
            .level-3 { 
                // display: block;
            }
        }
    }
}

@include only($nav-unavailable) {
    .nav-toggle-subLevel { 
        display: none;
    }
}

.nav-toggle {
    float: right;

    @include only($nav-unavailable) {
        display: none;
    }

    @include only(xs) {
        .nav-toggle-text {
            display: none;
        }
    }
}

@include only($nav-available) {
    .nav-mobile-outer {
        position: fixed;
        top: 0px; 
        left: 0px;
        width: 100%;
        height: 100vh;
        margin-left: -100%;
        z-index: 2;
        transition: $nav-transition-speed ease-out margin; 

        &:after {
            content: "";
            position: fixed;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background: rgba(0,0,0,0.4);
            pointer-events: none;
            opacity: 0;
            transition: $nav-transition-speed ease-out opacity;
            z-index: 2;
        }

        .nav-device-open & {
            margin-left: 0;
            
            &:after {
                opacity: 1;
            }
        }
    }

    .nav-mobile-inner {
        position: absolute; 
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow-y: auto;
        background: $color-primary-1;
        width: 70%;
        z-index: 3;
    }
}

.nav-mobile-close { 
    display: none;
    @include only($nav-unavailable) {
        display: none;
    }
}