// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



// Colors
$color-primary-1: #283F3D !default; //Peter River
$color-primary-1-dark : darken($color-primary-1, 20%);

$color-secondary-1: #638425;
$color-secondary-1-dark: darken($color-secondary-1, 20%);

$color-tertiary-1: #D9E2C7;
$color-tertiary-1-dark: darken($color-tertiary-1, 20%);

$color-quaternary-1: #E28A34;
$color-quaternary-1-dark: darken($color-quaternary-1, 20%);

$color-quinary-1: #F7F4F1;
$color-quinary-1-dark: darken($color-quinary-1, 20%);

$color-text: #535353; //Wet Ashphalt

// Colors
//
// Colors we use for theming
//
// $color-primary-1 - #283F3D; Primary
// $color-secondary-1 - #638425; Secondary
// $color-tertiary-1 - #D9E2C7; Tertiary
// $color-quaternary-1 - #E28A34; Quaternary
// $color-text - #535353; Text
//
// Styleguide Base.colors

//Font branding
$fontRegular: "archiaregular", arial, sans-serif;
$fontMedium: "archiamedium", arial, sans-serif;
$fontBold: "archiabold", arial, sans-serif;


// Base font size resize points
$min_font: 16px;
$max_font: 18px;

// Breakpoints
$small: 576px;
$medium: 768px;
$large:  992px;
$xtra-large:  1200px;
$xtra-small: $small - 1px;

// Fluid type fixed points for resizing
$min-viewport-width: 320px;
$max-viewport-width: $xtra-large;

// Heading sizes
$alpha-MinFontSize: 35px;
$alpha-MaxFontSize: 75px;

$beta-MinFontSize: 30px;
$beta-MaxFontSize: 50px;

$gamma-MinFontSize: 26px;
$gamma-MaxFontSize: 40px;

$delta-MinFontSize: 22px;
$delta-MaxFontSize: 30px;

$epsilon-MinFontSize: 18px;
$epsilon-MaxFontSize: 20px;

$zeta-MinFontSize: 16px;
$zeta-MaxFontSize: 18px;

// Gutters
$tb-gutter-xs : 30px;
$tb-gutter-md : 60px;
$tb-gutter-lg : 90px;

$gutter-width: 15px !default;
$gutter-width-xs: 15px !default;
$gutter-width-lg: 30px !default;

// bootstrap btns
$btn-primary-color: #fff;
$btn-primary-bg: $color-primary-1;
$btn-primary-border: $color-primary-1;
$btn-primary-bg-darken: darken($btn-primary-bg, 10%);
$btn-primary-bg-disabled: lighten($btn-primary-bg, 25%);

$btn-secondary-color: #fff;
$btn-secondary-bg: $color-secondary-1;
$btn-secondary-border: $color-secondary-1;
$btn-secondary-bg-darken: darken($btn-secondary-bg, 10%);
$btn-secondary-bg-disabled: lighten($btn-secondary-bg, 25%);

$btn-tertiary-color: $color-primary-1;
$btn-tertiary-bg: $color-tertiary-1;
$btn-tertiary-border: $color-tertiary-1;
$btn-tertiary-bg-darken: darken($btn-tertiary-bg, 10%);
$btn-tertiary-bg-disabled: lighten($btn-tertiary-bg, 25%);

$btn-quaternary-color: #fff;
$btn-quaternary-bg: $color-quaternary-1;
$btn-quaternary-border: $color-quaternary-1;
$btn-quaternary-bg-darken: darken($btn-quaternary-bg, 10%);
$btn-quaternary-bg-disabled: lighten($btn-quaternary-bg, 25%);

// margins
$margin-gutter: 30px;

// bootstrap table
$table-border-color : #333;

//header logo
$logoWidth-nav-available: 190px;
$logoWidth-nav-unavailable: 300px;

// navigation
$nav-available: xsml;
$nav-unavailable: z;
$nav-height-available-scrolled: 80px;
$nav-height-available-unscrolled: 80px;
$nav-height-unavailable-scrolled: 100px;
$nav-height-unavailable-unscrolled: 100px;
$nav-item-padding: 22px;
$nav-transition-speed: 0.3s;

$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

// cards
$card-borderRadius: 3px;

$box-shadow: 0 10px 15px 1px rgba(0,0,0, 0.15);
$box-shadow-hover: 0 5px 5px 1px rgba(0,0,0, 0.10);

// materialize variables - pulled into this as necessary
// 9. Dropdown
// ==========================================================================

$dropdown-bg-color: #fff !default;
$dropdown-hover-bg-color: #eee !default;
$dropdown-color: $color-primary-1 !default;
$dropdown-item-height: 50px !default;

// 10. Forms
// ==========================================================================

// Text Inputs + Textarea
$input-height: 3rem !default;
$input-border-color: $color-secondary-1 !default;
$input-border: 1px solid $input-border-color !default;
$input-background: #fff !default;
$input-error-color: $error-color !default;
$input-success-color: $success-color !default;
$input-focus-color: $color-primary-1 !default;
$input-font-size: 16px !default;
$input-margin-bottom: 8px;
$input-margin: 0 0 $input-margin-bottom 0 !default;
$input-padding: 0 !default;
$label-font-size: .8rem !default;
$input-disabled-color: rgba(0,0,0, .42) !default;
$input-disabled-solid-color: #949494 !default;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$input-icon-size: 2rem;
$placeholder-text-color: #707070 !default;

// Radio Buttons
$radio-fill-color: $color-secondary-1 !default;
$radio-empty-color: #4B515D !default;
$radio-border: 2px solid $radio-fill-color !default;

// Range
$range-height: 14px !default;
$range-width: 14px !default;
$track-height: 3px !default;

// Select
$select-border: 1px solid #f2f2f2 !default;
$select-background: rgba(255, 255, 255, 0.90) !default;
$select-focus: 1px solid lighten($color-primary-1, 47%) !default;
$select-option-hover: rgba(0,0,0,.08) !default;
$select-option-focus: rgba(0,0,0,.08) !default;
$select-option-selected: rgba(0,0,0,.03) !default;
$select-padding: 5px !default;
$select-radius: 2px !default;
$select-disabled-color: rgba(0,0,0,.3) !default;

// Switches
$switch-bg-color: $color-primary-1 !default;
$switch-checked-lever-bg: desaturate(lighten($color-secondary-1, 25%), 25%) !default;
$switch-unchecked-bg: #F1F1F1 !default;
$switch-unchecked-lever-bg: rgba(0,0,0,.38) !default;
$switch-radius: 15px !default;


// Line height
$default-line-height: 1.66666em;